---
layout: page
title: Actualité
description: La presse parle du cabinet
background: '/img/press.jpeg'
---

<p>
<strong>Interventions récentes :</strong>
</br>
- [LVSL] <a href="https://lvsl.fr/lacces-massif-aux-donnees-de-sante-pourrait-accentuer-les-inegalites-sociales-entretien-avec-interhop/">« L’accès massif aux données de santé pourrait accentuer les inégalités » – Entretien avec Interhop </a>
</br>
- [Actu Juridique] <a href="https://www.actu-juridique.fr/procedure-penale/juliette-alibert-les-lanceurs-dalerte-agissent-souvent-au-niveau-local/">Juliette Alibert : « Les lanceurs d’alerte agissent souvent au niveau local »</a>
</br>
- [NextInpact] <a href="https://www.nextinpact.com/article/49178/lassociation-interhop-demande-au-gouvernement-prouver-lefficacite-tousanticovid">L'association Interhop demande au gouvernement de prouver l’efficacité de TousAntiCovid</a>
</br>
- [Assemblée nationale] <a href="https://www.assemblee-nationale.fr/dyn/15/comptes-rendus/souvnum/l15souvnum2021030_compte-rendu#">Mission d’information de la Conférence des Présidents « Bâtir et promouvoir une souveraineté numérique nationale et européenne » </a>
</br>
- [Mines] <a href="https://www.csi.minesparis.psl.eu/en/seminars-archives/health-big-data-seminar/">EHESS Seminar Health & Big Data (2017-2021)</a>
</br>
- [Sciences et Avenir] <a href="
Suspension surprise du Health Data Hub
">Suspension surprise du Health Data Hub</a>
</br>
- [Apmnews] <a href="
https://www.apmnews.com/depeche/0/369438/rgpd-trois-ans-apres%2C-le-monde-de-la-sante-cherche-encore-l-equilibre
">RGPD: trois ans après, le monde de la santé cherche encore l'équilibre</a>
</br>
- <a href="https://www.humanite.fr/donnees-de-sante-quand-le-prive-fait-main-basse-sur-notre-intimite-709510">Données de santé : quand le privé fait main basse sur notre intimité</a>
</br>
- [Encryption Europe] <a href="https://encryptioneurope.eu/2021/05/17/Encryption-Europe-Webinar-Series-May-31,-2021.html">Webinar : Santé & Zerotrust </a>
</br>
- [Décision Santé] <a href="https://www.decision-sante.com/services/campagne-de-prise-de-rdv-en-ligne-chez-doctolib-un-hebergement-des-donnees-qui-inquiete">Campagne de prise de RDV en ligne chez Doctolib, un hébergement des données qui inquiète</a>

</p>


<p>
<strong>Lanceurs d’alerte</strong>
</br>
- [Editions Législative] <a href="
https://www.editions-legislatives.fr/actualite/contentieux-prudhomal-entre-thales-et-une-lanceuse-dalerte-%C2%ABles-forces-en-presence-ne-sont-pas-les-m
">Contentieux prud’homal entre Thales et une lanceuse d’alerte : «Les forces en présence ne sont pas les mêmes»</a>
</br>
- [Mediapart] <a href="
https://blogs.mediapart.fr/maison-des-lanceurs-dalerte/blog/081221/cest-important-de-sensibiliser-les-juges-aux-problematiques-des-lanceurs-dalerte?at_medium=custom7&at_campaign=1046
"> « C'est important de sensibiliser les juges aux problématiques des lanceurs d'alerte » </a>
</br>
- [Sosweetplanet] <a href="
http://sosweetplanet.com/quest-ce-que-la-maison-des-lanceurs-dalerte/
">Qu’est-ce que La Maison des Lanceurs d’Alerte ?</a>


<p>
<strong>Référé liberté contre Doctolib porté par plusieurs associations de défense de patients, associations de défense des libertés fondamentales et syndicats de médecins :</strong>
</br>
- [TF1] <a href="
https://www.tf1info.fr/sante/doctolib-avec-la-crise-du-covid-et-la-vaccination-la-plateforme-devient-incontournable-2200589.html
">Doctolib : comment la plateforme est devenue incontournable</a>
</br>
- [Le Monde] <a href="https://www.lemonde.fr/pixels/article/2021/03/08/campagne-de-vaccination-le-conseil-d-etat-appele-a-se-prononcer-sur-le-partenariat-avec-doctolib_6072319_4408996.html">Campagne de vaccination : le Conseil d’Etat appelé à se prononcer sur le partenariat avec Doctolib</a>
</br>
- [France 24] <a href="https://www.france24.com/fr/france/20210305-vaccination-les-donn%C3%A9es-de-sant%C3%A9-de-doctolib-suscitent-l-inqui%C3%A9tude-de-m%C3%A9decins">Vaccination : les données de santé de doctolib suscitent l'inquiétude de médecins</a>
</br>
- [Euractiv] <a href="https://www.euractiv.fr/section/economie/news/protection-des-donnees-la-france-devant-le-conseil-detat-pour-son-partenariat-avec-doctolib/"> [Euractiv]
Protection des données : la France devant le Conseil d’Etat pour son partenariat avec Doctolib</a>

</p>



<p>
<strong>Publications :</strong>
</br>
- <a href="https://documentation.ehesp.fr/index.php?lvl=author_see&id=306360">L'apport contrasté de la « Loi Sapin II » aux dispositifs de signalement et de protection des lanceurs d'alerte dans le secteur médico-social (2020)</a>

</br>
- <a href="https://journals.openedition.org/revdh/6317?lang=es">Première victoire d’un lanceur d’alerte en référé sous l’empire de la loi « Sapin II ».</a>
</p>
