---
layout: page
title: Compétences
description: Pour vous défendre
background: '/img/press.jpeg'
---

<strong>→ Droit public</strong></br>
- Droit de la fonction publique</br>
- Droit de la responsabilité publique</br>
- Droit de l’urbanisme et environnement</br>
- Droit de la commande publique</br>
- Contentieux d’urgence</br>
</br>
<strong>→ Droit de l'alerte et protection des lanceurs d'alerte</strong></br>
</br>
<strong>→ Droit de la santé et du médico-social</strong></br>
</br>
<strong>→ Droit du numérique</strong></br>
- Protection des données personnelles</br>
- Droit du numérique en santé</br>
- Droit pénal du numérique</br>
</br>
<strong>→ Droit pénal et libertés fondamentales</strong></br>
- Droit pénal général</br>
- Droit des étrangers</br>
- Discriminations</br>
- Libertés publiques</br>
- Droit de la diffamation</br>
- Droit électoral
