---
layout: page
title: Me contacter
background: '/img/tof.jpeg'
---

<p>
Diplômée de l’Université de Paris 1 Panthéon Sorbonne en Contentieux Public et de Sciences Po Bordeaux, Maître Juliette Alibert bénéficie d’une solide formation en droit public. 
</p>

<p>
Avant de prêter serment, elle s'est forgée une solide expérience en travaillant au sein d'entreprises privées, d’associations, d'administrations et de cabinets d’avocat à la Cour ou encore de cabinets spécialisés au Conseil d’État et à la Cour de Cassation. 
</p>

<p>
Cabinet Juliette ALIBERT</br>
Avocate au Barreau de Paris et Rennes</br>
<strong>Paris</strong> : 30 Avenue du Maine, 15eme arrondissement</br>
<strong>Rennes</strong> : 37 Boulevard Magenta</br>
<strong>j.alibert@alibert-avocat.fr</strong></br>
<strong>07.60.71.66.54</strong>
</p>
