---
layout: page
title: Cabinet d'avocat Alibert
description: Avocate au Barreau de Paris et Rennes
background: '/img/home.jpeg'
---

<p>
Le cabinet fondé par Juliette Alibert vous défend en droit public, en libertés fondamentales, en droit de la santé et du numérique, et en droit pénal. 
</p>

<p>
Il  vous accompagne en contentieux et en conseil juridique dans <strong><a href="{{ site.url }}/competence">ses domaines d’intervention</a></strong>, en alliant pragmatisme et efficacité pour répondre au mieux à vos exigences. 
</p>

<p>
Maître Juliette Alibert bénéficie d’une <strong>forte expertise</strong> tant sur les aspects pré-contentieux (conseil, recours gracieux), qu’en procédure d’urgence (référés) ou au fond. 
</p>

<p>
Elle est attachée à garantir une <strong>stratégie juridique "sur mesure"</strong> et efficace en fonction des enjeux, de vos besoins et des forces en présence.
</p>

<p>
Elle est particulièrement sensible à garantir les valeurs déontologiques attachées à sa profession et à assurer un <strong>haut cadre de confiance</strong>.
</p>

<p>
Maître Juliette Alibert est attachée à doter son exercice d’une dimension humaine pour répondre de façon individualisée aux demandes des clients mais également les conseiller et les défendre avec <strong>ferveur et dévouement</strong>.
</p>
